@page
@using Microsoft.Extensions.Localization
@using BookReview.Localization
@using BookReview.Web.Pages.BookReview
@model BookReview.Web.Pages.BookReview.IndexModel
@inject IStringLocalizer<BookReviewResource> L

@{
}
<h1>BookReview</h1>
<p>@L["SamplePageMessage"]</p>
