@page "/BookReview"
@using Microsoft.Extensions.Localization
@using global::BookReview.Localization
@inject IStringLocalizer<BookReviewResource> L
@{
}
<h1>BookReview</h1>
<p>@L["SamplePageMessage"]</p>